@model CMDBGrupp09.Models.ViewModels.HomeViewModel
<div class="landing is-preload">


    <!-- Banner -->
    <section id="banner">
        <h2>CMDb</h2>
        <p>Cineaste Movie Database</p>
            <input type="text" id="searchBox" name="searchBox" placeholder="Search CMDb by movie title or IMDb ID">
            <ul class="actions special">
                <li><button class="button primary" type="submit" id="searchButton">Search</button></li>
            </ul>
    </section>

    <!-- Main -->
    <section id="main" class="container">
    
        <section class="box special">
            
                <!-- Div created for displaying searchhits -->
            <div id="result">
                <h2>Search results</h2>
                <div id="searchHits"></div> 
            </div>   

            <div>
                
                <header class="major">
                    <h2>Toplist CMDb</h2>
                    <br>
                    <br>
                    <a asp-controller="Movie" asp-action="Index" asp-route-id="@Model.TopList[0].ImdbID">
                        <span class="image featured"><img id="pic1" src=@Html.DisplayFor(model => model.TopList[0].Poster) alt="Film poster" /></span>
                        <h2>#1 @Html.DisplayFor(model => model.TopList[0].Title)</h2>
                        <br>
                        <b> IMDb Rating</b>
                        <p>@Html.DisplayFor(model => model.TopList[0].IMDbRating) </p>
                        <br>
                        <b> CMDb dislikes</b>
                        <p>@Html.DisplayFor(model => model.TopList[0].numberOfDislikes) </p>
                        <br>
                        <b>CMDb likes</b>
                        <p>@Html.DisplayFor(model => model.TopList[0].numberOfLikes) </p>
                        <br>
                    </a>
                    <br>
                    <p id="subString">@Html.DisplayFor(model => model.TopList[0].Shortplot)... <em>Read more</em></p><p id="fullPlot">@Html.DisplayFor(model => model.TopList[0].Plot) <em>Read less</em></p>
                </header>
            </div>

            


            <section class="box special features">
                <section>
                    @for (int i = 1; i < Model.TopList.Count; i++)
                    {
                    <div class="movieDiv">
                        <a asp-controller="Movie" asp-action="Index" asp-route-id="@Model.TopList[i].ImdbID" />
                        <img id="filmImage" src=@Html.DisplayFor(model => model.TopList[i].Poster)>
                        <h3>@Html.DisplayFor(model => model.TopList[i].Title)</h3>
                        <p>@Html.DisplayFor(model => model.TopList[i].Shortplot)...</p>
                        <b>IMDb Rating</b>
                        <p>@Html.DisplayFor(model => model.TopList[i].IMDbRating)</p>
                        <b> CMDb dislikes</b>
                        <p>@Html.DisplayFor(model => model.TopList[i].numberOfDislikes) </p>
                        <b> CMDb likes</b>
                        <p>@Html.DisplayFor(model => model.TopList[i].numberOfLikes)</p>
                    </div>
                    }
                </section>

                </section>

            </section>

        </section>


   

    <script src="~/js/home.js" asp-append-version="true"></script>
</div>
