 @model CMDBGrupp09.Models.ViewModels.MovieViewModel

<div class="is-preload">


    <!-- Main -->
    <section id="main" class="container">
        <header>
            <h2 id="title">@Html.DisplayFor(model => model.Title)</h2>
            <h3 id="movieInfo">Year: @Html.DisplayFor(model => model.Year), Runtime: @Html.DisplayFor(model => model.Runtime), Genre: @Html.DisplayFor(model => model.Genre), Director: @Html.DisplayFor(model => model.Director)</h3>
        </header>
        <div class="box">
            <span class="image featured"><img id="image" src="@Html.DisplayFor(model => model.Poster)" alt="Film poster" /></span>
            <h3>Plot</h3>
            <p id="plot">@Html.DisplayFor(model => model.Plot)</p>
            <h3>Language</h3>
            <p id="language">@Html.DisplayFor(model => model.Language)</p>
            <div class="row">
                <div class="row-6 row-12-mobilep">
                    <h3>Skådespelare</h3>
                    <p id="actors">@Html.DisplayFor(model => model.Actors)</p>
                    <p id="ID">@Html.DisplayFor(model => model.imdbID)</p>
                </div>
            </div>

            <div id="rating">
                <h3>Your rating</h3>
                <div id="thumbs">
                    <img class="ratingThumbs" id="dislike" src="~/images/down.png" />
                    <img class="ratingThumbs" id="like" src="~/images/up.png" />
                </div>
            </div>

            <section id="main" class="container">
                <div class="row">

                    <div class="col-4 col-12-narrower">
                        <section class="box special">
                            <p id="imdbRatingSource">@Html.DisplayFor(model => model.Ratings[0].Source)</p>
                            <h3 id="imdbRatingValue">@Html.DisplayFor(model => model.Ratings[0].Value)</h3>
                        </section>
                    </div>


                    <div class="col-4 col-12-narrower">

                        <section class="box special">
                            <p>CMDB Ratings</p>
                            <h3 id="dislikeNumber">@Html.DisplayFor(model => model.numberOfDislikes) st dislikes</h3>
                            <h3 id="likeNumber">@Html.DisplayFor(model => model.numberOfLikes) st likes</h3>
                            <h3 id="cmdbInfo">@Html.DisplayFor(model => model.cmdbInfo)</h3>
                        </section>

                    </div>
                    <div class="col-4 col-12-narrower">

                        <section class="box special">
                            <p id="rottenRatingSource">@Html.DisplayFor(model => model.Ratings[1].Source)</p>
                            <h3 id="rottenRatingValue">@Html.DisplayFor(model => model.Ratings[1].Value)</h3>
                        </section>

                    </div>
                </div>

            </section>
        </div>
    </section>

    <script src="~/js/movie.js" asp-append-version="true"></script>



</div>

