 @model CMDBGrupp09.Models.ViewModels.MovieViewModel

<div class="is-preload">


    <!-- Main -->
    <section id="main" class="container">
        <header>
            <h2 id="title">@Html.DisplayFor(model => model.Movie.Title)</h2>
            <h3 id="movieInfo">Year: @Html.DisplayFor(model => model.Movie.Year), Runtime: @Html.DisplayFor(model => model.Movie.Runtime)<br>
            Genre: @Html.DisplayFor(model => model.Movie.Genre), Director: @Html.DisplayFor(model => model.Movie.Director)</h3>
        </header>

        <div class="box">
            <span class="image featured"><img id="image" src="@Html.DisplayFor(model => model.Movie.Poster)" alt="Film poster" /></span>
            <h3>Plot</h3>
            <p id="plot">@Html.DisplayFor(model => model.Movie.Plot)</p>
            <h3>Language</h3>
            <p id="language">@Html.DisplayFor(model => model.Movie.Language)</p>
            <div class="row">
                <div class="row-6 row-12-mobilep">
                    <h3>Actors</h3>
                    <p id="actors">@Html.DisplayFor(model => model.Movie.Actors)</p>
                    <p id="ID">@Html.DisplayFor(model => model.Movie.ImdbID)</p>
                </div>
            </div>

            <!-- like/dislike -->
            <div id="rating">
                <h3>Your rating</h3>
                <div id="thumbs">
                    <img id="dislike" src="~/images/down.png" />
                    <img id="like" src="~/images/up.png" />
                </div>
            </div>

            <!-- skapar en sektion för varje rating -->
            <section id="main" class="container">
                <div class="row">
                    @for (int i = 0; i < Model.Movie.Ratings.Count; i++)
                    {
                        <section class="box special">
                            <p id="imdbRatingSource">@Html.DisplayFor(model => model.Movie.Ratings[i].Source)</p>
                            <h3 id="imdbRatingValue">@Html.DisplayFor(model => model.Movie.Ratings[i].Value)</h3>
                        </section>

                    }

                <section class="box special">
                    <p>CMDB Ratings</p>
                    <h3 id="dislikeNumber">@Html.DisplayFor(model => model.Movie.numberOfDislikes)</h3><br>
                    <p id="dislikeText">dislikes</p>
                    <h3 id="likeNumber">@Html.DisplayFor(model => model.Movie.numberOfLikes)</h3><br>
                    <p id="likeText">likes</p>
                    <h3 id="cmdbInfo">@Html.DisplayFor(model => model.Movie.cmdbInfo)</h3>
                </section>
                </div>
            </section>
        </div>
    </section>

    <script src="~/js/movie.js" asp-append-version="true"></script>



</div>

