 @model CMDBGrupp09.Models.ViewModels.MovieViewModel

<div class="is-preload">


    <!-- Main -->
    <section id="main" class="container">
        <header>
            <h2>@Html.DisplayFor(model => model.Title)</h2>
            <p>@Html.DisplayFor(model => model.Year), @Html.DisplayFor(model => model.Runtime), @Html.DisplayFor(model => model.Genre), @Html.DisplayFor(model => model.Director)</p>
        </header>
        <div class="box">
            <span class="image featured"><img src="@Html.DisplayFor(model => model.Poster)" alt="" /></span>
            <h3>@Html.DisplayFor(model => model.Plot)</h3>
            <p>@Html.DisplayFor(model => model.Language)</p>
            <div class="row">
                <div class="row-6 row-12-mobilep">
                    <h3>Skådespelare</h3>
                    <p>@Html.DisplayFor(model => model.Actors)</p>
                </div>
            </div>

            <div id="rating">
                <h3>Your rating</h3>
                <div id="thumbs">
                    <a href="#" class="image"><img src="~/images/down.png" alt="cabin" /></a>
                    <a href="#" class="image"><img src="~/images/up.png" alt="cabin" /></a>
                </div>
            </div>

            <section id="main" class="container">
                <div class="row">

                    <div class="col-4 col-12-narrower">
                        <section class="box special">
                            <h3>@Html.DisplayFor(model => model.Ratings[0].Source)</h3>
                            <h2>@Html.DisplayFor(model => model.Ratings[0].Value)</h2>
                        </section>
                    </div>
                    

                    <div class="col-4 col-12-narrower">

                        <section class="box special">
                            <h3>Rating CMDb (röster)</h3>
                            <h2></h2>
                        </section>

                    </div>
                    <div class="col-4 col-12-narrower">

                        <section class="box special">
                            <h3>Rating popularitet CMDb</h3>
                            <h2></h2>
                        </section>

                    </div>
                </div>

            </section>
        </div>
    </section>

    


</div>

